html{
    scroll-behavior: smooth;
    
    
}

body{
    background-color: lightcoral;
    font-family: sans-serif;
    
}
header{
    height: 350px;
    
    justify-content: center;
    width: 40%;
    margin-left: 25%;
    margin-bottom: 10px;

}
h1{
    padding-left: 80px;
    padding-top: 20px;
    color: black;
    margin: auto;
    font-size: 70px;
}
h2{
    margin: auto;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}


.container{
    background-color: gray;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 4px solid lightgrey;
    
    

    
    
    
}


.nav{
    position: fixed;
    width: 30%;
    top: 0;
    opacity: 0.8;
    margin-left: 70%;
    
    
    
    
   
    
    
    
    
    
    
    
    
    
}
.nav-item{
    width: 20%;
    margin: auto;
}
.nav-pills{
    background-color: bisque;
    
    
}

.nav-link{
    color: black;
    width: 100%;
    
    text-align: center;
    

    
   
    
    
    
}



.nav ul li a{
    width: 10%;
    
    
}


a:hover{
    
    background-color: black;
    font-size: large;

}
#button{
    position: fixed;
    padding: 10px;
    width: 40px;
    border-radius: 10px;
    bottom: 60px;
    right: 30px;
    background-color: black;
    opacity: 0.4;
    color: white;
    
}
footer{
    text-align: center;
    background-color: chocolate;
    margin: auto;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: large;
    
}
#active{
    font-weight: bold;
}

#indexszoveg{
    padding: 10px;
    
}

#indexkicsi{
    border: 2px solid black;
    padding: 4px;
}

p{
    text-align: justify;

}

