html{
    scroll-behavior: smooth;
    
    
}
/* #52528C ultra violet*/

body{
    background-color:  #52528C ;
    font-family: sans-serif;
    
}
header{
    height: 350px;
    
    justify-content: center;
    width: 40%;
    margin-left: 25%;
    margin-bottom: 10px;

}
h1{
    padding-left: 680px;
    padding-top: 20px;
    color: white;
    margin: auto;
    font-size: 70px;
}
h2{
    margin: auto;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}


.container{
    background-color: gray;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 4px solid lightgrey;
    
    

    
    
    
}




#button{
    position: fixed;
    padding: 10px;
    width: 40px;
    border-radius: 10px;
    bottom: 60px;
    right: 30px;
    background-color: #111;
    opacity: 0.8;
    color: white;
    border: none;
    
}

#button:hover{
    background-color: #444;

}

footer{
    text-align: center;
    background-color: chocolate;
    margin: auto;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: large;
    
}
#active{
    font-weight: bold;
}

#indexszoveg{
    padding: 10px;
    
}

#indexkicsi{
    border: 2px solid black;
    padding: 4px;
}

p{
    text-align: justify;

}

.sidebar{
    height: 34%;
    width: 0;
    position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  /* opacity: 0.6; */
  padding-top: 20px;
  transition: 0.5s ease; /* Fokozatos áttűnés és csúsztatás */
  
  
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
    
    
    
    
  }
  
  .sidebar a:hover {
    color: white;
    
    background-color: #444;
    
  }
  

  
  .nyitoGomb {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .nyitoGomb:hover {
    background-color: #444;
  }
  .nyitoGomb{
    background-color: #111;
    color: white;
    font-size: 30px;
    opacity: 0.8;
  }
  